.photo-grid {
    max-width: 100%;
    margin: 0;
    justify-content: center;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0 48px;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        gap: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        padding: 0 16px;
    }
}
