.lead {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 48px;
    text-align: center;
    padding: 0 48px;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .lead {
        width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        margin-top: 56px;
        padding: 0 148px;
    }
}
