.cover {
    padding: 0;
    margin: 102px 0 92px;
}

@media screen and (min-width: 1280px) {
    .cover {
        margin: 92px 0;
        padding: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin: 90px 0 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 66px 0 64px;
    }
}
